# Vscode settings
.vscode

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Massive Machine Learning Weights
models/
.cache/
!**/README.md

# Database Volumes & Env Variables
/db/data/
.env

# Node & Frontend
node_modules/
dist/

# OS Files
.DS_Store
